# Rust build artifacts
*/target/*
**/*.rs.bk
ext/*
Cargo.lock
# Remove Cargo.lock from gitignore if creating an executable, keep it for libraries
# More information here https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html

# Files with .ext extension
*.ext

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Debug files
**/*.pdb

# OS specific files
.DS_Store
Thumbs.db

# Backup files
*~
*.bak

models/*